# We will create beautiful & insightful tables
https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset

## Color selector
https://matplotlib.org/stable/gallery/color/named_colors.html

https://matplotlib.org/stable/users/explain/colors/colors.html#colors-def

In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

**Loading the datase**t

In [2]:
data = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

Observe the dataset
- head
- shape
- info
- isna
- describe

In [3]:
data.head()

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea

[5 rows x 13 columns]

In [4]:
data.shape

(374, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [6]:
data.isna().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [7]:
data.describe()

        Person ID         Age  ...  Heart Rate   Daily Steps
count  374.000000  374.000000  ...  374.000000    374.000000
mean   187.500000   42.184492  ...   70.165775   6816.844920
std    108.108742    8.673133  ...    4.135676   1617.915679
min      1.000000   27.000000  ...   65.000000   3000.000000
25%     94.250000   35.250000  ...   68.000000   5600.000000
50%    187.500000   43.000000  ...   70.000000   7000.000000
75%    280.750000   50.000000  ...   72.000000   8000.000000
max    374.000000   59.000000  ...   86.000000  10000.000000

[8 rows x 8 columns]

In [8]:
df_summ = data.groupby('Occupation').agg(Mean_Sleep_Duration = ('Sleep Duration', 'mean'),
                                        Mean_Sleep_Quality = ('Quality of Sleep', 'mean'))\
.reset_index()\
.round(2)

df_summ

              Occupation  Mean_Sleep_Duration  Mean_Sleep_Quality
0             Accountant                 7.11                7.89
1                 Doctor                 6.97                6.65
2               Engineer                 7.99                8.41
3                 Lawyer                 7.41                7.89
4                Manager                 6.90                7.00
5                  Nurse                 7.06                7.37
6   Sales Representative                 5.90                4.00
7            Salesperson                 6.40                6.00
8              Scientist                 6.00                5.00
9      Software Engineer                 6.75                6.50
10               Teacher                 6.69                6.98

## Highlighting min/ max values

In [9]:
import pandas as pd

# Define a function to apply conditional formatting
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

def highlight_min(s):
    is_min = s == s.min()
    return ['background-color: lightblue' if v else '' for v in is_min]

# Apply the conditional formatting
df_summ_styled = df_summ.style.apply(highlight_max, subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'])\
                              .apply(highlight_min, subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'])

df_summ_styled

## Adding gradient for conditional formatting

In [16]:
import pandas as pd

# Apply the color gradient formatting
df_summ_styled = df_summ.style.background_gradient(subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'], 
                                                   cmap='YlGnBu_r')

df_summ_styled

### Supported values for gradient are 
'Accent', 'Accent_r', 'Blues', 'Blues_r', 'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', 'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', 'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', 'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', 'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 'YlGn', 'YlGnBu', 'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 'binary_r', 'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', 'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 'copper', 'copper_r', 'crest', 'crest_r', 'cubehelix', 'cubehelix_r', 'flag', 'flag_r', 'flare', 'flare_r', 'gist_earth', 'gist_earth_r', 'gist_gray', 'gist_gray_r', 'gist_heat', 'gist_heat_r', 'gist_ncar', 'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', 'gist_yarg', 'gist_yarg_r', 'gnuplot', 'gnuplot2', 'gnuplot2_r', 'gnuplot_r', 'gray', 'gray_r', 'hot', 'hot_r', 'hsv', 'hsv_r', 'icefire', 'icefire_r', 'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 'mako', 'mako_r', 'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 'rainbow', 'rainbow_r', 'rocket', 'rocket_r', 'seismic', 'seismic_r', 'spring', 'spring_r', 'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 'terrain', 'terrain_r', 'turbo', 'turbo_r', 'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 'viridis_r', 'vlag', 'vlag_r', 'winter', 'winter_r'

## Formatting of headers and a column

In [19]:
import pandas as pd

# Apply the color gradient formatting
df_summ_styled = df_summ.style.background_gradient(subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'], 
                                                   cmap='prism')

# Format the column names
df_summ_styled = df_summ_styled.set_table_styles(
    [{'selector': 'th', 'props': [('font-weight', 'bold'), ('background-color', '#000066'), 
                                 ('color', 'white'), ('font-size', '14px')]}]
)

# Format the Occupation column
df_summ_styled = df_summ_styled.set_properties(subset=['Occupation'], **{'font-weight': 'bold', 'color': 'white', 'background-color':'#000066', 'font-size': '14px'})

# Hide the index column
df_summ_styled = df_summ_styled.hide(axis='index')

df_summ_styled

## Formatting the headers, columns and values in the table

In [12]:
import pandas as pd

# Apply the color gradient formatting with a very light color gradient
df_summ_styled = df_summ.style.background_gradient(subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'], 
                                                   cmap='Greens', low=0.01, high=0.2)

# Format the column names
df_summ_styled = df_summ_styled.set_table_styles(
    [{'selector': 'th', 'props': [('font-weight', 'bold'), ('background-color', 'lightskyblue'), 
                                 ('color', 'black'), ('font-size', '14px')]}]
)

# Format the Occupation column
df_summ_styled = df_summ_styled.set_properties(subset=['Occupation'], **{'font-weight': 'bold', 'color': 'black', 'background-color':'lightskyblue', 'font-size': '14px'})

# Format the numeric columns to 2 decimal places
df_summ_styled = df_summ_styled.format({'Mean_Sleep_Duration': '{:.2f}', 'Mean_Sleep_Quality': '{:.2f}'})

# Hide the index column
df_summ_styled = df_summ_styled.hide(axis='index')

df_summ_styled

## Adding borders to the table with simple formatting

In [13]:
import pandas as pd

# Remove the color gradient formatting and apply a solid background color
df_summ_styled = df_summ.style.set_properties(subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'], 
                                              **{'background-color': 'lightyellow'})

# Format the column names
df_summ_styled = df_summ_styled.set_table_styles(
    [{'selector': 'th', 'props': [('font-weight', 'bold'), ('background-color', 'lightskyblue'), 
                                 ('color', 'black'), ('font-size', '14px')]}]
)

# Format the Occupation column
df_summ_styled = df_summ_styled.set_properties(subset=['Occupation'], **{'font-weight': 'bold', 'color': 'black', 'background-color':'lightskyblue', 'font-size': '14px'})

# Format the numeric columns to 2 decimal places
df_summ_styled = df_summ_styled.format({'Mean_Sleep_Duration': '{:.2f}', 'Mean_Sleep_Quality': '{:.2f}'})

# Hide the index column
df_summ_styled = df_summ_styled.hide(axis='index')

# Add table borders
df_summ_styled = df_summ_styled.set_table_styles(
    [{'selector': 'table', 'props': [('border', '2px solid black')]},
     {'selector': 'th', 'props': [('border', '4px solid red')]},
     {'selector': 'td', 'props': [('border', '2px solid black')]}],
    overwrite=False
)

# Define a function to apply conditional formatting
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: lightgreen' if v else 'background-color: lightyellow' for v in is_max]


df_summ_styled = df_summ_styled.apply(highlight_max, subset=['Mean_Sleep_Duration', 'Mean_Sleep_Quality'])

df_summ_styled