**Basics of data analysis : Part 4**
# Summarise the data - Group by
- Using reset_index - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
- rename
- Using groupby - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [1]:
import pandas as pd

In [3]:
sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv")

**Shape of the data**

In [4]:
sleep.shape

(374, 13)

**Column names**

In [5]:
sleep.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [7]:
sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

**Check the first few rows**

In [8]:
sleep.head(10)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea
5          6   Male   28  ...         85         3000        Insomnia
6          7   Male   29  ...         82         3500        Insomnia
7          8   Male   29  ...         70         8000            None
8          9   Male   29  ...         70         8000            None
9         10   Male   29  ...         70         8000            None

[10 rows x 13 columns]

In [9]:
sleep['Person ID'] = sleep['Person ID'].astype('str')

# Reset and Rename

## Count by Occupation

In [10]:
sleep['Occupation'].value_counts()

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: Occupation, dtype: int64

In [11]:
sleep_occ = sleep['Occupation'].value_counts()
sleep_occ

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: Occupation, dtype: int64

## reset_index

In [12]:
sleep_occ.reset_index()

                   index  Occupation
0                  Nurse          73
1                 Doctor          71
2               Engineer          63
3                 Lawyer          47
4                Teacher          40
5             Accountant          37
6            Salesperson          32
7      Software Engineer           4
8              Scientist           4
9   Sales Representative           2
10               Manager           1

## reset_index and rename

In [13]:
sleep_occ.reset_index().rename(columns = {'index': 'Occupation', 'Occupation' : 'Count'})

              Occupation  Count
0                  Nurse     73
1                 Doctor     71
2               Engineer     63
3                 Lawyer     47
4                Teacher     40
5             Accountant     37
6            Salesperson     32
7      Software Engineer      4
8              Scientist      4
9   Sales Representative      2
10               Manager      1

# Group by
- Group by and count
- Group by sum, mean
- Group by on multiple columns
- Group by and multiple aggregation

In [14]:
sleep.head()

  Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0         1   Male   27  ...         77         4200            None
1         2   Male   28  ...         75        10000            None
2         3   Male   28  ...         75        10000            None
3         4   Male   28  ...         85         3000     Sleep Apnea
4         5   Male   28  ...         85         3000     Sleep Apnea

[5 rows x 13 columns]

## Group by and count

In [15]:
sleep.groupby(['BMI Category']).count()

               Person ID  Gender  Age  ...  Heart Rate  Daily Steps  Sleep Disorder
BMI Category                           ...
Normal               195     195  195  ...         195          195             195
Normal Weight         21      21   21  ...          21           21              21
Obese                 10      10   10  ...          10           10              10
Overweight           148     148  148  ...         148          148             148

[4 rows x 12 columns]

In [16]:
sleep.groupby(['BMI Category'])['Person ID'].count()

BMI Category
Normal           195
Normal Weight     21
Obese             10
Overweight       148
Name: Person ID, dtype: int64

In [17]:
sleep.groupby(['BMI Category'])['Person ID'].size()

BMI Category
Normal           195
Normal Weight     21
Obese             10
Overweight       148
Name: Person ID, dtype: int64

In [18]:
sleep.groupby(['BMI Category'])['Person ID'].agg(count = 'count')

               count
BMI Category
Normal           195
Normal Weight     21
Obese             10
Overweight       148

## Group by and sum, mean

In [19]:
sleep.groupby(['BMI Category']).sum()

                Age  Sleep Duration  ...  Heart Rate  Daily Steps
BMI Category                         ...
Normal         7504          1441.8  ...       13402      1343000
Normal Weight   806           154.0  ...        1497       142100
Obese           380            69.6  ...         843        33500
Overweight     7087          1002.0  ...       10500      1030900

[4 rows x 7 columns]

In [20]:
sleep.groupby(['BMI Category'])['Daily Steps'].sum()

BMI Category
Normal           1343000
Normal Weight     142100
Obese              33500
Overweight       1030900
Name: Daily Steps, dtype: int64

In [21]:
sleep.groupby(['BMI Category'])['Daily Steps'].agg(daily_steps_sum = 'sum')

               daily_steps_sum
BMI Category
Normal                 1343000
Normal Weight           142100
Obese                    33500
Overweight             1030900

In [22]:
sleep.groupby(['BMI Category'])['Daily Steps'].agg(daily_steps_mean = 'mean')

               daily_steps_mean
BMI Category
Normal              6887.179487
Normal Weight       6766.666667
Obese               3350.000000
Overweight          6965.540541

In [23]:
sleep.groupby(['BMI Category'])['Daily Steps'].agg(daily_steps_median = 'median')

               daily_steps_median
BMI Category
Normal                     8000.0
Normal Weight              7000.0
Obese                      3400.0
Overweight                 6000.0

## Group by on multiple columns

In [24]:
sleep.groupby(['Gender', 'BMI Category'])['Sleep Duration'].agg(sleep_duration_mean = 'mean')

                      sleep_duration_mean
Gender BMI Category
Female Normal                    7.793750
       Normal Weight             7.285714
       Obese                     7.400000
       Overweight                6.880189
Male   Normal                    7.198473
       Normal Weight             7.428571
       Obese                     6.911111
       Overweight                6.492857

In [25]:
sleep.groupby(['Occupation', 'BMI Category'])['Sleep Duration'].agg(sleep_duration_mean = 'mean')

                                    sleep_duration_mean
Occupation           BMI Category
Accountant           Normal                    7.161538
                     Normal Weight             7.520000
                     Overweight                6.566667
Doctor               Normal                    6.887692
                     Normal Weight             8.200000
                     Obese                     7.700000
Engineer             Normal                    8.080357
                     Normal Weight             7.450000
                     Overweight                6.966667
Lawyer               Normal                    7.438095
                     Normal Weight             6.900000
                     Obese                     7.400000
                     Overweight                7.100000
Manager              Overweight                6.900000
Nurse                Normal Weight             6.900000
                     Overweight                7.080303
Sales Representative Obese                     5.900000
Salesperson          Overweight                6.403125
Scientist            Overweight                6.000000
Software Engineer    Normal Weight             7.500000
                     Obese                     5.900000
                     Overweight                6.100000
Teacher              Normal                    7.166667
                     Obese                     6.300000
                     Overweight                6.615152

In [26]:
sleep.groupby(['Occupation', 'BMI Category'])['Sleep Duration'].agg(sleep_duration_mean = 'mean').sort_values(by = 'sleep_duration_mean', ascending = False)

                                    sleep_duration_mean
Occupation           BMI Category
Doctor               Normal Weight             8.200000
Engineer             Normal                    8.080357
Doctor               Obese                     7.700000
Accountant           Normal Weight             7.520000
Software Engineer    Normal Weight             7.500000
Engineer             Normal Weight             7.450000
Lawyer               Normal                    7.438095
                     Obese                     7.400000
Teacher              Normal                    7.166667
Accountant           Normal                    7.161538
Lawyer               Overweight                7.100000
Nurse                Overweight                7.080303
Engineer             Overweight                6.966667
Lawyer               Normal Weight             6.900000
Manager              Overweight                6.900000
Nurse                Normal Weight             6.900000
Doctor               Normal                    6.887692
Teacher              Overweight                6.615152
Accountant           Overweight                6.566667
Salesperson          Overweight                6.403125
Teacher              Obese                     6.300000
Software Engineer    Overweight                6.100000
Scientist            Overweight                6.000000
Sales Representative Obese                     5.900000
Software Engineer    Obese                     5.900000

In [27]:
sleep.groupby(['Occupation', 'BMI Category'])['Sleep Duration']\
.agg(sleep_duration_mean = 'mean').round(2)\
.reset_index()\
.sort_values(by = ['Occupation', 'sleep_duration_mean', 'BMI Category'], ascending = [True, False, True])

              Occupation   BMI Category  sleep_duration_mean
1             Accountant  Normal Weight                 7.52
0             Accountant         Normal                 7.16
2             Accountant     Overweight                 6.57
4                 Doctor  Normal Weight                 8.20
5                 Doctor          Obese                 7.70
3                 Doctor         Normal                 6.89
6               Engineer         Normal                 8.08
7               Engineer  Normal Weight                 7.45
8               Engineer     Overweight                 6.97
9                 Lawyer         Normal                 7.44
11                Lawyer          Obese                 7.40
12                Lawyer     Overweight                 7.10
10                Lawyer  Normal Weight                 6.90
13               Manager     Overweight                 6.90
15                 Nurse     Overweight                 7.08
14                 Nurse  Normal Weight                 6.90
16  Sales Representative          Obese                 5.90
17           Salesperson     Overweight                 6.40
18             Scientist     Overweight                 6.00
19     Software Engineer  Normal Weight                 7.50
21     Software Engineer     Overweight                 6.10
20     Software Engineer          Obese                 5.90
22               Teacher         Normal                 7.17
24               Teacher     Overweight                 6.62
23               Teacher          Obese                 6.30

## Group by and multiple aggregation

In [28]:
sleep.groupby(['Occupation', 'BMI Category'])\
.agg(count=('Sleep Duration', 'count'), sleep_duration_mean=('Sleep Duration', 'mean')).round(2)\
.reset_index()\
.sort_values(by=['Occupation', 'sleep_duration_mean', 'BMI Category'], ascending=[True, False, True])

              Occupation   BMI Category  count  sleep_duration_mean
1             Accountant  Normal Weight      5                 7.52
0             Accountant         Normal     26                 7.16
2             Accountant     Overweight      6                 6.57
4                 Doctor  Normal Weight      2                 8.20
5                 Doctor          Obese      4                 7.70
3                 Doctor         Normal     65                 6.89
6               Engineer         Normal     56                 8.08
7               Engineer  Normal Weight      4                 7.45
8               Engineer     Overweight      3                 6.97
9                 Lawyer         Normal     42                 7.44
11                Lawyer          Obese      2                 7.40
12                Lawyer     Overweight      2                 7.10
10                Lawyer  Normal Weight      1                 6.90
13               Manager     Overweight      1                 6.90
15                 Nurse     Overweight     66                 7.08
14                 Nurse  Normal Weight      7                 6.90
16  Sales Representative          Obese      2                 5.90
17           Salesperson     Overweight     32                 6.40
18             Scientist     Overweight      4                 6.00
19     Software Engineer  Normal Weight      2                 7.50
21     Software Engineer     Overweight      1                 6.10
20     Software Engineer          Obese      1                 5.90
22               Teacher         Normal      6                 7.17
24               Teacher     Overweight     33                 6.62
23               Teacher          Obese      1                 6.30