**Basics of data analysis**

- Head and tail
- Info
- Shape
- Describe
- Changing the data type of columns
- Selecting rows
- Selecting columns

In [30]:
import pandas as pd

In [31]:
sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv")

**Shape of the data**

In [32]:
sleep.shape

(374, 13)

**Check the first few rows**

In [34]:
sleep.head(10)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea
5          6   Male   28  ...         85         3000        Insomnia
6          7   Male   29  ...         82         3500        Insomnia
7          8   Male   29  ...         70         8000            None
8          9   Male   29  ...         70         8000            None
9         10   Male   29  ...         70         8000            None

[10 rows x 13 columns]

**Check the last few rows**

In [6]:
sleep.tail(10)

     Person ID  Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
364        365  Female   59  ...         68         7000     Sleep Apnea
365        366  Female   59  ...         68         7000     Sleep Apnea
366        367  Female   59  ...         68         7000     Sleep Apnea
367        368  Female   59  ...         68         7000     Sleep Apnea
368        369  Female   59  ...         68         7000     Sleep Apnea
369        370  Female   59  ...         68         7000     Sleep Apnea
370        371  Female   59  ...         68         7000     Sleep Apnea
371        372  Female   59  ...         68         7000     Sleep Apnea
372        373  Female   59  ...         68         7000     Sleep Apnea
373        374  Female   59  ...         68         7000     Sleep Apnea

[10 rows x 13 columns]

**Get information about the data**

In [7]:
sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

**Get summary of numeric columns**

In [8]:
sleep.describe()

        Person ID         Age  ...  Heart Rate   Daily Steps
count  374.000000  374.000000  ...  374.000000    374.000000
mean   187.500000   42.184492  ...   70.165775   6816.844920
std    108.108742    8.673133  ...    4.135676   1617.915679
min      1.000000   27.000000  ...   65.000000   3000.000000
25%     94.250000   35.250000  ...   68.000000   5600.000000
50%    187.500000   43.000000  ...   70.000000   7000.000000
75%    280.750000   50.000000  ...   72.000000   8000.000000
max    374.000000   59.000000  ...   86.000000  10000.000000

[8 rows x 8 columns]

**Person ID should be string**

Changing the type to string

In [9]:
sleep['Person ID'] = sleep['Person ID'].astype('str')

In [10]:
sleep.describe()

              Age  Sleep Duration  ...  Heart Rate   Daily Steps
count  374.000000      374.000000  ...  374.000000    374.000000
mean    42.184492        7.132086  ...   70.165775   6816.844920
std      8.673133        0.795657  ...    4.135676   1617.915679
min     27.000000        5.800000  ...   65.000000   3000.000000
25%     35.250000        6.400000  ...   68.000000   5600.000000
50%     43.000000        7.200000  ...   70.000000   7000.000000
75%     50.000000        7.800000  ...   72.000000   8000.000000
max     59.000000        8.500000  ...   86.000000  10000.000000

[8 rows x 7 columns]

**Selecting rows using iloc**

In [11]:
# Starts with 0 but last value in array is not included
sleep.iloc[:2,]

  Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0         1   Male   27  ...         77         4200            None
1         2   Male   28  ...         75        10000            None

[2 rows x 13 columns]

In [12]:
# Starts with 1 till 3
sleep.iloc[1:4,]

  Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
1         2   Male   28  ...         75        10000            None
2         3   Male   28  ...         75        10000            None
3         4   Male   28  ...         85         3000     Sleep Apnea

[3 rows x 13 columns]

In [13]:
# Last 5 rows are displayed
sleep.iloc[-5:,]

    Person ID  Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
369       370  Female   59  ...         68         7000     Sleep Apnea
370       371  Female   59  ...         68         7000     Sleep Apnea
371       372  Female   59  ...         68         7000     Sleep Apnea
372       373  Female   59  ...         68         7000     Sleep Apnea
373       374  Female   59  ...         68         7000     Sleep Apnea

[5 rows x 13 columns]

In [14]:
sleep.iloc[[1,5,9],]

  Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
1         2   Male   28  ...         75        10000            None
5         6   Male   28  ...         85         3000        Insomnia
9        10   Male   29  ...         70         8000            None

[3 rows x 13 columns]

**Selecting columns**

In [15]:
# Index starts from 0
# Columns 0 to 3 are selected i.e. 0,1,2,3
sleep.iloc[:5,:4]

  Person ID Gender  Age            Occupation
0         1   Male   27     Software Engineer
1         2   Male   28                Doctor
2         3   Male   28                Doctor
3         4   Male   28  Sales Representative
4         5   Male   28  Sales Representative

In [16]:
# Index starts from 1
# Columns 1 to 3 are selected i.e. 1,2,3
sleep.iloc[:5,1:4]

  Gender  Age            Occupation
0   Male   27     Software Engineer
1   Male   28                Doctor
2   Male   28                Doctor
3   Male   28  Sales Representative
4   Male   28  Sales Representative

In [17]:
# Last 3 columns are selected
sleep.iloc[:5,-3:]

   Heart Rate  Daily Steps Sleep Disorder
0          77         4200           None
1          75        10000           None
2          75        10000           None
3          85         3000    Sleep Apnea
4          85         3000    Sleep Apnea

In [18]:
# Columns 0 to 1 and rows 0,1,2 are selected
sleep.iloc[[1,2],[0,3]]

  Person ID Occupation
1         2     Doctor
2         3     Doctor

**With loc and column names**

In [19]:
# All the rows till index 5 are selected with loc
sleep.loc[:5,['Person ID','Occupation']]

  Person ID            Occupation
0         1     Software Engineer
1         2                Doctor
2         3                Doctor
3         4  Sales Representative
4         5  Sales Representative
5         6     Software Engineer

In [20]:
sleep.loc[:2,['Person ID', 'Occupation', 'Heart Rate']]

  Person ID         Occupation  Heart Rate
0         1  Software Engineer          77
1         2             Doctor          75
2         3             Doctor          75

**Selecting with column names  - Select in SQL query**

In [22]:
sleep[['Person ID', 'Occupation']]

    Person ID            Occupation
0           1     Software Engineer
1           2                Doctor
2           3                Doctor
3           4  Sales Representative
4           5  Sales Representative
..        ...                   ...
369       370                 Nurse
370       371                 Nurse
371       372                 Nurse
372       373                 Nurse
373       374                 Nurse

[374 rows x 2 columns]

**Selecting columns containing a term**

In [23]:
sleep.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [24]:
sleep.columns.str.contains('Sleep')

array([False, False, False, False,  True,  True, False, False, False,
       False, False, False,  True])

In [25]:
sleep.loc[:2,sleep.columns.str.contains('Sleep')]

   Sleep Duration  Quality of Sleep Sleep Disorder
0             6.1                 6           None
1             6.2                 6           None
2             6.2                 6           None

In [26]:
sleep.iloc[:2, [4,5,12]]

   Sleep Duration  Quality of Sleep Sleep Disorder
0             6.1                 6           None
1             6.2                 6           None

In [27]:
sleep.loc[:2,sleep.columns.str.contains('ID|Sleep')]

  Person ID  Sleep Duration  Quality of Sleep Sleep Disorder
0         1             6.1                 6           None
1         2             6.2                 6           None
2         3             6.2                 6           None

**Selecting rows and columns**

In [28]:
sleep.loc[:5,sleep.columns.str.contains('ID|Sleep')]

  Person ID  Sleep Duration  Quality of Sleep Sleep Disorder
0         1             6.1                 6           None
1         2             6.2                 6           None
2         3             6.2                 6           None
3         4             5.9                 4    Sleep Apnea
4         5             5.9                 4    Sleep Apnea
5         6             5.9                 4       Insomnia

**Filtering rows and selecting columns**

In [29]:
sleep.loc[sleep['Sleep Disorder'] == 'Insomnia',sleep.columns.str.contains('ID|Sleep')]

    Person ID  Sleep Duration  Quality of Sleep Sleep Disorder
5           6             5.9                 4       Insomnia
6           7             6.3                 6       Insomnia
18         19             6.5                 5       Insomnia
31         32             6.4                 5       Insomnia
67         68             6.0                 6       Insomnia
..        ...             ...               ...            ...
308       309             6.6                 7       Insomnia
309       310             6.6                 7       Insomnia
310       311             6.6                 7       Insomnia
311       312             6.6                 7       Insomnia
315       316             8.3                 9       Insomnia

[77 rows x 4 columns]