**Reading and Writing files**

- Reading cvs, excel files
- Writing files to your system

**Reading a csv file**
- pandas.read_csv (https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
- Important arguements
    - filepath, 
    - sep, 
    - delimiter, 
    - header='infer', 
    - names, 
    - index_col=None, 
    - skipinitialspace=False, 
    - skiprows=None, 
    - skipfooter=0, 
    - nrows=None, 
    - na_values=None, 
    - parse_dates=None, 
    - infer_datetime_format, 
    - date_parser, 
    - date_format, 
    - dayfirst=False,
    - encoding=None

In [38]:
import pandas as pd

In [47]:
# sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv")

# sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv", header=None, skiprows = 1)

# sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv", nrows = 5)

# sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv", skiprows = 1, nrows = 5, names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv", encoding = 'utf-8', nrows = 5)

In [48]:
sleep.head(100)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea

[5 rows x 13 columns]

In [49]:
sleep = pd.read_csv("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.csv")

In [50]:
sleep.head(10)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea
5          6   Male   28  ...         85         3000        Insomnia
6          7   Male   29  ...         82         3500        Insomnia
7          8   Male   29  ...         70         8000            None
8          9   Male   29  ...         70         8000            None
9         10   Male   29  ...         70         8000            None

[10 rows x 13 columns]

**Writing a csv file**

In [51]:
sleep.to_csv('sleep_csv_written.csv', index = False)

**Reading as tab separated file**

In [52]:
sleep_tab = pd.read_table("Data_From_Kaggle - Sleep_health_and_lifestyle_dataset.tsv", sep = "\t", nrows = 5)

In [53]:
sleep_tab.head(100)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea

[5 rows x 13 columns]

**Reading an excel file**
- pd.read_excel (https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)
- Important arguements
    - sheet_name=0,
    - header=0, 
    - names=None, 
    - index_col=None, 
    - usecols=None, 
    - dtype=None, 
    - skiprows=None, 
    - nrows=None, 
    - na_values=None

In [54]:
sleep_excel = pd.read_excel("Data_From_Kaggle.xlsx", sheet_name=0, nrows = 5)

In [55]:
sleep_excel.head(100)

   Person ID Gender  Age  ... Heart Rate  Daily Steps  Sleep Disorder
0          1   Male   27  ...         77         4200            None
1          2   Male   28  ...         75        10000            None
2          3   Male   28  ...         75        10000            None
3          4   Male   28  ...         85         3000     Sleep Apnea
4          5   Male   28  ...         85         3000     Sleep Apnea

[5 rows x 13 columns]

In [56]:
sleep_excel = pd.read_excel("Data_From_Kaggle.xlsx", sheet_name=1, nrows = 5)

sleep_excel.head(100)

   Unnamed: 0       Country  ... Winning bid  Year
0           0        Guyana  ...        30.5  2013
1           1  South Africa  ...       274.5  2013
2           2     Australia  ...        61.0  2013
3           3     Australia  ...       244.0  2013
4           4     Australia  ...       274.5  2013

[5 rows x 7 columns]

In [57]:
sleep_excel = pd.read_excel("Data_From_Kaggle.xlsx", sheet_name=2, nrows = 5)

sleep_excel.head(100)

   Customer ID  Age  ... Preferred Payment Method Frequency of Purchases
0            1   55  ...                    Venmo            Fortnightly
1            2   19  ...                     Cash            Fortnightly
2            3   50  ...              Credit Card                 Weekly
3            4   21  ...                   PayPal                 Weekly
4            5   45  ...                   PayPal               Annually

[5 rows x 19 columns]

In [59]:
sleep_excel = pd.read_excel("Data_From_Kaggle.xlsx", sheet_name=2, nrows = 5, usecols = [0,1,5])

sleep_excel.head(100)

   Customer ID  Age  Purchase Amount (USD)
0            1   55                     53
1            2   19                     64
2            3   50                     73
3            4   21                     90
4            5   45                     49

**Writing an excel file**

In [61]:
sleep_excel.to_excel("sleep_excel_written.xlsx", index=False)